.footer {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 50%;
  transition: .2s;

  &:hover {
    background-color: var(--primary-hover);
  }
}

.divider {
  height: 50%;
  width: 2px;
  background-color: var(--lightgray2);
}