.donationChannelContainer {
  text-align: center;
  background-image: url("../../../../assets/images/background-card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.page {
  // background: linear-gradient(0deg, white 0%, var(--primary-background) 100%);
}